<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password</title>
</head>

<body>
    <h1>Change password</h1>
    <form autocomplete="off">
        <label for="newPasswordLabel">New password: </label><br>
        <input id="newPassword"><br>
        <label for="confirmPasswordLabel">Confirm password: </label><br>
        <input type="text" id="confirmPassword">
    </form>

    <script>

        var newPass, confPass;
        function getValueInput() {
            newPass = document.getElementById("newPassword").value;
            confPass = document.getElementById("confirmPassword").value;
        }

        function request() {
            var url1 = window.location.href.split('/passw')[0];
            url2 = "/auth/users/reset_password_confirm/";
            url3 = "/password/reset/confirm/ok";
            var url = url1.concat(url2);
            let id = '{{ uid }}';
            let tok = '{{ token }}';
            getValueInput();

            if (newPass != confPass) {
                alert("Passwords don't match");
            }
            else {
                let data = { uid: id, token: tok, new_password: newPass, re_new_password: confPass };
                fetch(url, {
                    method: "POST",
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(data)
                }).then(res => {
                    // console.log("Request complete! response:", res);
                    if (res.status == 204) {
                        window.location.replace(url1.concat(url3));
                    }
                    else {
                        res.json().then(body => alert(body.new_password));
                    }
                });
            }
        }
    </script>

    <button onclick="request()">change password</button>

    </form>
</body>

</html>